.task {
  background-color: white;
  padding: 1vmax;
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 3px;
}
.task div {
  width: 100%;
  text-align: left;
}

.task span {
  color: rgba(0,0,0, 0.6);
}

.task button {
  background-color: crimson;
  color: white;
  font-weight: 700;
  width: 4vh;
  height: 4vh;
  border: none;
  border-radius: 50%;
}
.task button:hover {
  background-color: red;
  box-shadow: 2px 2px 2px rgba(0,0,0, 0.3);
}